/target
/lib
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port

/scripts/run-server-jar

*~
*\#*
*.org
id_rsa
id_rsa.pub

/client/node_modules
/resources/public/js
/client/.shadow-cljs/